.contact{
    background-color: white;
    height: 124vh;
    width: 100vw;
    display:inline;
}



.header-contato{
    display: flex;
    text-align: left;
    justify-content: left;
    margin-left: 8vw;
}

form{
    display: flex;
    flex-direction:column ;
    align-items:flex-start;
    justify-content: space-between;
    height: 648px;
    /* margin-left: 104px; */
}
input{
    width: 400px;
    height: 48px;
    border-radius: 6px;
    opacity: 0.9;
    text-align:left;
    font:Arial, Helvetica, sans-serif;
    font-size: medium;
    margin-bottom: 20px;
    box-shadow: 0 0 0 0;
    outline: 0;
    border-top-color: initial;
    border-right-color: initial;
    border-left-color: initial;
    border-image: initial;
    border-radius: 6px;
    box-sizing: border-box;
    text-align: left;
    outline: none;
    border-style: solid;
    border-color:gray;
    border-width: thin;
    padding: 0 10px;
}
#mensagem{
    height: 272px;
    font:Arial, Helvetica, sans-serif;
    font-size: medium;
    padding-bottom: 220px;
}
.enviar{
    width: 400px;
    height: 40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 5px;
    color: #2B2B2B;
    opacity: 1;
    text-transform: uppercase;
    font-weight: bolder;
    border-radius: 6px;
    opacity: 0.9;
    box-shadow: none;
    outline: none;
    font-size: medium;
    border-style: solid;
    border-color:#757473;
    background-color: #d2c2b0;
    margin-top: 2vh;
    padding-bottom: 50px;
}

.aviaozinho{
    width: 20px;
    height: 20px;
    margin-left: 5px;
    margin-top: 5px;
}
#map{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    height:543px;
    width: 524px;

}
footer{
    background-color: #1F1F24;
    height: 64vh;
    display: flex;
    flex-direction: column;
}
.logo-footer{
    height: 129px;
    width: 429px;
    margin-top: 3vh;
}

.navegar{
    color: white;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin-top:12vh;
    padding-left:3vw;
}
.redes{
    margin-top: 5px;
}

.form-mapa {
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    margin-top: 120px;
    margin-bottom: 120px;
}

/* .text-footer{
    display: flex;
    width: 374px;
    height: 65px;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}
.text-footer a{
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-weight: 200;
}
::marker{
    list-style: none;
    color:#1F1F24 ;
}
.botao-texto{
    color:red;
    font-size: 12px;


}
#email2{
    background-color: #1F1F24;
    border-style: solid;
    border-color:white;
    border: width 1px;
}

#email2 :placeholder-shown{
    color: white;
} */

@media screen and (max-width: 800px) {
    .mapa {
        padding-top: 5vh;
        max-width: 50%;
        padding-left: 0;
        
    } 
    .header-contato{
        text-align: center;
        /* justify-content: center; */
        padding-left: 32vw;

    }
    .form-mapa{
        justify-content: center;
        max-width: 50%;
        padding-left: 35vw;
    }
    footer{
        justify-content: center;
    }
    .logo-footer{
        width: 240px;
        height: 80px;
    }
}
